@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> A basic booking management system using ASP.NET Core MVC, with 
        actions for creating, reading, editing, and deleting bookings.</p>
</div>
